<h3>Todo #<%=params[:id]=%></h3>
<h2>
        <span class="font"><%= @todo.description =%> </span> <br>
        <br>
        <span class="font2"> <%= @todo.description =%></span> <br>
        <span class="font3"><%= @todo.pomodoro_estimate =%> pomodoros</span> <br> 
        <a href="/todo/index"><input id="done-button" type="submit" value="Done"></a>
        <a href="/todo/show2/<%=params[:id]=%>"><input id="edit-button" type="submit" value="Edit"></a> 
        <!--<input id="delete-button" type="submit" value="Delete"> -->
</h2>